---
layout: default
title: Photography
permalink: /photography/
support: [jquery, gallery]
---

<div id="gallery-overview">
  <div id="image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="image-gallery">
    <div id="gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="gallery-sizer"></div>
    <div class="gutter-sizer"></div>
    {% for gallery in site.data.galleries.overview %}
      <div class="image-wrapper">
        <h1 class="title">{{ gallery.title }}</h1>
        <a href="{{ site.url }}{{ site.baseurl }}/photography/{{ gallery.link }}.html">
          <img alt="{{ gallery.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/photos/{% if gallery.picture_path %}{{ gallery.picture_path }}{% else %}{{ gallery.directory }}{% endif %}/{{ gallery.preview.thumbnail }}" />
        </a>
      </div>
    {% endfor %}
  </div>
</div>
