//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {
  color: $color-grey;
  background-color: $color-lightgreyer;
  // border-top: $border;

  &__container {
    margin: 1em;
  }

  &__tags {
    @extend %flex-center;
    @extend %no-list-style;

    flex-wrap: wrap;

    & > * {
      margin-bottom: 2em;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  &__link {
    font-size: $font-small;
    color: rgba($color-orange, 0.9);
    transition: color 200ms ease-in-out;

    &:hover,
    &:active,
    &:focus {
      color: $color-orange;
    }
  }

  &__social {
    @extend %flex-center;
    @extend %no-list-style;

    & > *:not(:last-child) {
      margin-right: 0.75em;
    }

    a {
      font-size: 1.25em;
      color: rgba($color-orange, 0.9);

      &:hover,
      &:active,
      &:focus {
        color: $color-orange;
      }
    }
  }

  .sep--orange {
    margin-top: 1em
  }
}

//----------------------------------------------
// Flex based sticky footer
//---------------------------------------------- 
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  position: relative;
  z-index: $z-1;

  flex-grow: 1;
  margin-top: $header-height;
}
