$default-width: 25%;
$grid-width-5: 20%;
$grid-width-4: 25%;
$grid-width-3: 33.33%;
$grid-width-2: 50%;
$grid-width-1: 100%;

$max-width-4: 1600px;
$max-width-3: 1200px;
$max-width-2: 800px;
$max-width-1: 400px;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

/**
 * Wrapper
 */
$spacing-unit: 10px;
$content-width: 100%;
$on-laptop: 600px;
$overview-width: 50%;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.gallery-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-top: calc(#{$spacing-unit} * 2);
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}

.image-wrapper,
.gallery-sizer {
  width: $grid-width-5;

  @include media-query($max-width-4) {
    width: $grid-width-4;
  }
  @include media-query($max-width-3) {
    width: $grid-width-3;
  }
  @include media-query($max-width-2) {
    width: $grid-width-2;
  }
  @include media-query($max-width-1) {
    width: $grid-width-1;
  }
}

.gutter-sizer {
  width: $spacing-unit;
}

.image-gallery {

  display: block;

  .image-wrapper {
    float: left;
  }

  img {
    padding: 0 $spacing-unit $spacing-unit;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

//Light gallery specific changes
.lg-outer .lg-thumb-item {
  border-color: $color-lightgreyer !important;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: $color-orange !important;
}

// Overview gallery

$laptop-overview: 1200px;
$device-overview: 600px;

#gallery-overview {
  max-width: -webkit-calc(#{$laptop-overview} - (#{$spacing-unit} * 2));
  max-width: calc(#{$laptop-overview} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-top: calc(#{$spacing-unit} * 2);
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($max-width-2) {
    max-width: -webkit-calc(#{$device-overview} - (#{$spacing-unit} * 2));
    max-width: calc(#{$device-overview} - (#{$spacing-unit} * 2));
  }

  @extend %clearfix;

  .image-wrapper,
  .gallery-sizer {
    width: $grid-width-2;

    @include media-query($max-width-2) {
      width: $grid-width-1;
    }
  }

  .title {
    text-align: center;
    position: absolute;
    background-color: rgba($color-darkgrey, 0.5);
    padding: 0 $spacing-unit calc(#{$spacing-unit} * 2) $spacing-unit;
    background-clip: content-box;
    width: calc(100% + 1px);
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
