$default-width: 25%;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

/**
 * Wrapper
 */
$spacing-unit: 30px;
$content-width: 75%;
$on-laptop: 600px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.gallery-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$on-laptop} - (#{$spacing-unit}));
    max-width: calc(#{$on-laptop} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.image-wrapper,
.gallery-sizer {
  width: $default-width;
}

.portrait {
  width: 25%;
}

.landscape {
  width: 25%;
}

.image-gallery {

  display: block;

  .image-wrapper {
    float: left;
    padding: 3px;
    cursor: pointer;

    // hack required if no padding
    .image {
      width: 100.1%;
      width: calc( 100% + 1px );
      height: 100%;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.caption {
  position: static;
  color: #aaa;
}

$on-palm: 600px;

//Light gallery specific changes
.lg-outer .lg-thumb-item {
  border-color: $color-lightgreyer !important;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: $color-orange !important;
}

// Overview gallery
#gallery-overview {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}

.row {
  width: 100%;
  display: block;

  // base definition
  .column {
    float: left;
    display: block;
    box-sizing: border-box;
  }

  .full-width {
    @extend .column;
    width: 100%;
  }

  .half-width {
    @extend .column;
    @media screen and (min-width: $on-palm) {
      width: 48%;
    }
  }

  .one-third-width {
    @extend .column;
    width: 31.3333333%;
  }

  .one-tenth-width {
    @extend .column;
    width: 10%;
  }

  .nine-tenth-width {
    @extend .column;
    @media screen and (min-width: $on-palm) {
      width: 90%;
    }
  }

  .two-third-width {
    @extend .column;
    @media screen and (min-width: $on-palm) {
      width: 64.6666666%;
    }
  }

  @media screen and (min-width: $on-palm) {
    .left {
      margin-left: 0;
      margin-right: 2%;
    }

    .right {
      margin-left: 2%;
      margin-right: 0;
    }
  }

  &::after{
    content: "";
    display: table;
    clear: both;
  }
}