$default-width: 25%;
$grid-width-5: 20%;
$grid-width-4: 25%;
$grid-width-3: 33.33%;
$grid-width-2: 50%;
$grid-width-1: 100%;

$max-width-4: 1600px;
$max-width-3: 1200px;
$max-width-2: 800px;
$max-width-1: 400px;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

/**
 * Wrapper
 */
$spacing-unit: 10px;
$content-width: 100%;
$on-laptop: 600px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.gallery-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-top: calc(#{$spacing-unit} * 2);
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}

.image-wrapper,
.gallery-sizer {
  width: $grid-width-5;

  @include media-query($max-width-4) {
    width: $grid-width-4;
  }
  @include media-query($max-width-3) {
    width: $grid-width-3;
  }
  @include media-query($max-width-2) {
    width: $grid-width-2;
  }
  @include media-query($max-width-1) {
    width: $grid-width-1;
  }
}

.gutter-sizer {
  width: $spacing-unit;
}

// .portrait {
//   width: 25%;
// }

// .landscape {
//   width: 25%;
// }

.image-gallery {

  display: block;

  .image-wrapper {
    float: left;
  }

  img {
    padding: 0 $spacing-unit $spacing-unit;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

$on-palm: 600px;

//Light gallery specific changes
.lg-outer .lg-thumb-item {
  border-color: $color-lightgreyer !important;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: $color-orange !important;
}

// Overview gallery
#gallery-overview {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}

.row {
  width: 100%;
  display: block;

  // base definition
  .column {
    float: left;
    display: block;
    box-sizing: border-box;
  }

  .full-width {
    @extend .column;
    width: 100%;
  }

  .half-width {
    @extend .column;
    @media screen and (min-width: $on-palm) {
      width: 48%;
    }
  }

  .one-third-width {
    @extend .column;
    width: 31.3333333%;
  }

  .one-tenth-width {
    @extend .column;
    width: 10%;
  }

  .nine-tenth-width {
    @extend .column;
    @media screen and (min-width: $on-palm) {
      width: 90%;
    }
  }

  .two-third-width {
    @extend .column;
    @media screen and (min-width: $on-palm) {
      width: 64.6666666%;
    }
  }

  @media screen and (min-width: $on-palm) {
    .left {
      margin-left: 0;
      margin-right: 2%;
    }

    .right {
      margin-left: 2%;
      margin-right: 0;
    }
  }

  &::after{
    content: "";
    display: table;
    clear: both;
  }
}